{{greeting}}、{{user}}サン。
{%- if pattern == 'forecast' %}
{% include 'forecast.j2' %}
{%- elif pattern == 'event' %}
{% include 'event.j2' %}
{%- elif pattern == 'unsei' %}
{% include 'unsei.j2' %}
{%- else %}
ゴキゲンヨウ。
{%- endif %}