{{greeting}}、{{user}}サン。
{%- if pattern == 'forecast' %}
{{month}}月{{day}}日ノ{{city}}ノ天気予報ハ、
{{weather}}、最高気温{{max}}℃、最低気温{{min}}℃ デス。
{%- elif pattern == 'event' %}
{{month}}月{{day}}日ハ、
「{{event}}」
{{end_word}}
{%- else %}
ゴキゲンヨウ。
{%- endif %}