今日モ1日、オ疲レ様デシタ。
明日{{month}}月{{day}}日({{weekday}})ノ天気予報ハ、
{%- for forecast in forecasts %}
・{{forecast.city}}: {{forecast.weather}}、{{forecast.max}}/{{forecast.min}}
{%- endfor %}
デス。
ソレデハ皆サマ、オヤスミナサイ。良イ夢ヲ。

#tweet_bot