今日モ1日、オ疲レ様デシタ。
明日{{month}}月{{day}}日({{weekday}})ノ天気予報ハ、
・東京: {{weather_tokyo}}、{{max_tokyo}}/{{min_tokyo}}
・大阪: {{weather_osaka}}、{{max_osaka}}/{{min_osaka}}
・名古屋: {{weather_nagoya}}、{{max_nagoya}}/{{min_nagoya}}
・札幌: {{weather_sapporo}}、{{max_sapporo}}/{{min_sapporo}}
デス。
ソレデハ皆サマ、オヤスミナサイ。良イ夢ヲ。

#tweet_bot